body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: rgb(231, 162, 121);
    padding: 0;
    margin: 10%;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    gap: 80px;
}


nav ul {
    display: flex;
    gap: 40px;
    margin: 40px 0 0 0
}


ul li {
    list-style-type: none;
}


ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
}

section {
          background-color: rgb(210, 145, 99);  
          border-radius: 8px;
          justify-content: center;
          display: block;
          margin: auto;
          width: 50%;
        }

ul li a:hover {
    color: chocolate;
}

.capy {
    border-radius: 9999px;
    max-width: 500px;
    max-height: 500px;
    width: 500px;
    height: 500px;
}

.image-text-container {
    display: flex;
    align-items: center;
    gap: 20px;
}