body {
    font-family: "Lobster Two", sans-serif;
    height: 100vh;
    background-color: rgb(231, 162, 121);
    padding: 0;
    margin: 10%;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 40px;
}


nav ul {
    display: flex;
    gap: 80px;
    margin: 0
}


ul li {
    list-style-type: none;
}


ul li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

section {
    transition: all 0.3s ease;
        background-color: rgb(210, 145, 99);  
        border-style: solid;
        border-color: rgb(243, 194, 160);
        border-radius: 8px;
        justify-content: center;
        transition: all 0.3s ease;
        display: block;
        margin: auto;
        width: 50%;
        }

section:hover {
    background-color: rgb(255, 234, 0);

}

ul li a:hover {
    color: chocolate;
    font-size: 1.2em;
    
}

.capy {
    border-style: solid;
    border-color: rgb(243, 194, 160);
    border-radius: 140px;
    max-width: 500px;
    max-height: 500px;
    width: 500px;
    height: 300px;
}

.capy:hover {
    width: 550px;
    height: 330px;
}

.image-text-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

header {
    border-style: solid;
    border-color: rgb(243, 194, 160);
    border-radius: 50px;
    background-color: rgb(167, 101, 54);
    height: 10%;
    
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}


footer {
        background-color: rgb(167, 101, 54); /* Cor de fundo escura */
        color: rgb(243, 194, 160); /* Cor do texto branca */
        padding: 15px; /* Espaçamento interno */
        text-align: center; /* Centraliza o texto */
        width: 100%; /* Faz a barra ocupar a largura total */
        box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    }

    .copy_capy p {
        margin: 0; /* Remove a margem padrão do parágrafo */
        font-size: 0.9em; /* Tamanho da fonte um pouco menor */
    }

